In [1]:
import pandas as pd

In [10]:
path = '/home/superusuario/Dados/proj/SIRmodel/tables/population_Bahia_X_mun.csv'
df = pd.read_csv(path, sep= '\t')
df.head

<bound method NDFrame.head of      Posição              Município   População   Equ_popEst  Var_bruta   \
0           1              Salvador   2 886 698   19   .41       14 351
1           2      Feira de Santana     619 609    4   .17        4 737
2           3  Vitória da Conquista     341 128    2   .29         -469
3           4              Camaçari     304 302    2   .05        5 170
4           5              Juazeiro     218 162    1   .47        1 455
..        ...                    ...         ...          ...        ...
412       413               Lajedão       3 975    0   .03           20
413       414             Lajedinho       3 758    0   .03          -25
414       415     Lafaiete Coutinho       3 693    0   .02          -31
415       416            Catolândia       3 599    0   .02           22
416       417              Maetinga       2 764    0   .02         -397

       Var_percentual
0           0   .50
1           0   .77
2          -0   .14
3           1   .73
4           0   .67
..                ...
412         0   .51
413        -0   .66
414        -0   .83
415         0   .62
416      -12   .56

[417 rows x 6 columns]>

In [11]:
df.columns = ['Index', 'Município', 'População', 'E_PopulEst', 'Var_bruta','Var_%']
df.set_index('Index')

,Município,População,E_PopulEst,Var_bruta,Var_%
Index,,,,,
1,Salvador,2 886 698,19 .41,14 351,0 .50
2,Feira de Santana,619 609,4 .17,4 737,0 .77
3,Vitória da Conquista,341 128,2 .29,-469,-0 .14
4,Camaçari,304 302,2 .05,5 170,1 .73
5,Juazeiro,218 162,1 .47,1 455,0 .67
...,...,...,...,...,...
413,Lajedão,3 975,0 .03,20,0 .51
414,Lajedinho,3 758,0 .03,-25,-0 .66
415,Lafaiete Coutinho,3 693,0 .02,-31,-0 .83
416,Catolândia,3 599,0 .02,22,0 .62
417,Maetinga,2 764,0 .02,-397,-12 .56

In [16]:
df[['População', 'E_PopulEst', 'Var_bruta','Var_%']] = df[['População', 'E_PopulEst', 'Var_bruta','Var_%']].replace(' ', '', regex=True)

In [17]:
df

     Index              Município População E_PopulEst Var_bruta   Var_%
0        1              Salvador    2886698      19.41     14351    0.50
1        2      Feira de Santana     619609       4.17      4737    0.77
2        3  Vitória da Conquista     341128       2.29      -469   -0.14
3        4              Camaçari     304302       2.05      5170    1.73
4        5              Juazeiro     218162       1.47      1455    0.67
..     ...                    ...       ...        ...       ...     ...
412    413               Lajedão       3975       0.03        20    0.51
413    414             Lajedinho       3758       0.03       -25   -0.66
414    415     Lafaiete Coutinho       3693       0.02       -31   -0.83
415    416            Catolândia       3599       0.02        22    0.62
416    417              Maetinga       2764       0.02      -397  -12.56

[417 rows x 6 columns]

In [18]:
path = '/home/superusuario/Dados/proj/SIRmodel/tables/populacao_BA_X_mcpio.csv'
df.to_csv(path, sep=',')